<html>
  <body>
    <form method="post">
      Category:
      <input type="text" name="category" value="{{u.category}}" /><br />
      Description:
      <input type="text" name="description" value="{{u.description}}" /><br />
      Brand: <input type="text" name="brand" value="{{u.brand}}" /><br />
      Count:<input type="number" name="count" value="{{u.count}}" /><br />
      Price:<input type="number" name="price" value="{{u.price}}" /><br />
      <input type="submit" value="update" />
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
